<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/admin/addproduct.css">
</head>
<style>
    .ck-editor__editable {
        min-height: 150px !important;
    }
</style>
<body>
    <a href="/admin">Back <br></a>
    <form method="POST" enctype="multipart/form-data">
        <div>
            <input type="text" type="text" name="title" id="title" placeholder="title" value="<%= (errors.title)?(errors.title.value):(details.title) %>" >
            <label><%= (errors.length===0)?(''):((errors.title)?(errors.title.msg):('')) %></label>
        </div>
        <div class="desc">
            <textarea type="text" name="desc" id="editor" rows="10"><%= (errors.desc)?(errors.desc.value):(details.desc) %></textarea>
            <label><%= (errors.length===0)?(''):((errors.desc)?(errors.desc.msg):('')) %></label>
        </div>
        <div>
            <input type="text" name="price" id="price" placeholder="price" value="<%= details.price %>">
            <label><%= (errors.length===0)?(''):((errors.price)?(errors.price.msg):('')) %></label>
        </div>
        <div>
            <input type="file" name="file">
        </div>
        <div>
            <input type="text" name="img" id="img" placeholder="img" value="<%= details.img %>">
        </div>
        <% if(!add){ %> 
            <div>
                <input type="number" name="stock" id="stock" placeholder="stock" value="<%= (errors.stock)?(errors.stock.value):(details.stock) %>">
                <label><%= (errors.length===0)?(''):((errors.stock)?(errors.stock.msg):('')) %></label>
            </div>
        <% } %> 
        <div>
            <input type="submit">
        </div>
    </form>
    <% if(!add){ %>
        <form method="POST" action="/admin/product/delete/<%= details._id %>">
            <input type="submit" value="Delete">
        </form>
    <% } %>  
    <script src="https://cdn.ckeditor.com/ckeditor5/24.0.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create( document.querySelector( '#editor' ) )
            .catch( error => {
                console.error( error );
            } ); 
    </script>
</body>
</html>