<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="/css/store/nav.css">
    <link rel="stylesheet" href="/css/store/product.css">
    <title><%= product.title %></title>
</head>
<body>
    <%- include('./navbar'); %>
    <div class="container">
        <% if(error.length){ %>
            <div class="mt-5 ms-5 me-5 alert alert-danger"><%= error %> </div>
        <% } %> 
        <div class="row mt-5 ms-5 me-5 row-bg shadow-sm">
            <div class="col-sm-5 d-flex justify-content-center">
                <img src="<%= product.img %>" class="img-fluid" width="100%" style="object-fit: cover;">
            </div>
            <div class="col-sm-7 mt-5 mb-5">
                <h1><%= product.title %></h1>
                <h2>₱<%= product.price.toLocaleString() %> </h2>
                
                <% if(product.stock === 0){ %>
                    <b>OUT OF STOCK</b> 
                <% }else{ %> 
                    <b>AVAILABLE</b>
                    <form method="POST" class="mt-5" action="/cart/add/<%=product._id.toString()%>"> 
                        <div>
                            <input class="mb-2 number-input" type="number" name="quantity" value="1"> 
                        </div>
                        <div>
                            <input type="submit" value="Add to Cart" class="btn btn-dark">
                        </div>
                    </form>
                <% } %>   
                <div class="row mt-5 d-flex align-items-center" >
                    <%- product.desc %> 
                </div>
            </div>
        </div>
        <div class="row mt-3 ms-5 me-5 row-bg shadow-sm ">
            <h2 class="mt-5 ms-4">Product Details</h2>
            <div class="desc ms-5 mt-3 mb-5">
                <p><%- product.details %></p>
            </div>
        </div>
    </div>   
    <%- include('./footer'); %>
</body>
</html>